{% extends "layout.html" %}

{% block content %}
<div>
  <h1>Inventory Manager</h1>
  {% if items|length < 1 %}
  <h4>There are no items</h4>
  {% else %}
  <table>
    {% for item in items %}
      {% if item.user_id == current_user %}
        <tr>
          
          <td>{{ item.content }}</td>
          <td>{{ item.number }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% endif %}

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.content.label(class="form-control-label") }}
      {{ form.content(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.number.label(class="form-control-label") }}
      {{ form.number(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
      {{ form.submit(class="form-check-label") }}
    </div>

  </form>


</div>
{% endblock content %}